@tailwind base;
@tailwind components;
@tailwind utilities;

.category-container:not(.active) > *:not(h1){
    display: none;
}

.category-container > *:not(h1) {
    margin-left: 40px;
}

.category-container.active > h1 > .down-icon{
    display: none;
}
.category-container:not(.active) > h1 > .up-icon{
    display: none;
}

.up-icon > *, .down-icon > * {
    display: inline-block;
}
.h-screen {
    height: 100vh;
    height: -webkit-fill-available;
}

.fc-slide {
    --transition-length: .4s;
}

.fc-slide.transitioning * {
    transition: none !important;
}

.fc-slide.active .fc-back, .fc-slide:not(.active) .fc-front {
    transition: transform calc(var(--transition-length)/2) ease-in calc(var(--transition-length)/2);
}

.fc-slide.active .fc-front, .fc-slide:not(.active) .fc-back {
    transition: transform calc(var(--transition-length)/2) ease-in;
}

.fc-slide:not(.active) .fc-back {
    transform: scaleX(0);
}

.fc-slide.active .fc-front {
    transform: scaleX(0);
}